In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
x=pd.read_csv("purchase.csv")

In [7]:
df=pd.DataFrame(x)
df

   age  gender  income  education occupation marital_status purchased
0   25    Male   35000  Bachelors   Engineer         Single       Yes
1   35  Female   50000    Masters     Doctor        Married       Yes
2   45    Male   60000        PhD  Professor        Married        No
3   30  Female   45000  Bachelors     Artist         Single       Yes
4   50    Male   70000    Masters     Doctor        Married        No

In [9]:
x=df.loc[:,df.columns!="purchased"]
x

   age  gender  income  education occupation marital_status
0   25    Male   35000  Bachelors   Engineer         Single
1   35  Female   50000    Masters     Doctor        Married
2   45    Male   60000        PhD  Professor        Married
3   30  Female   45000  Bachelors     Artist         Single
4   50    Male   70000    Masters     Doctor        Married

In [10]:
y=df["purchased"]
y

0    Yes
1    Yes
2     No
3    Yes
4     No
Name: purchased, dtype: object

In [12]:
X_train,x_test,Y_train,y_test=train_test_split(x,y,train_size=0.80)
print(X_train.shape)
print(x_test.shape)
print(Y_train.shape)
print()

(4, 6)
(1, 6)
(4,)
(1,)