# (Spam Ham) Naive Bayes Classifier

## Importing the Packages

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings

In [11]:
warnings.filterwarnings('ignore')

In [2]:
docs=pd.read_excel('spamhamdataset.xlsx',sheet_name='spamhamdataset',names=['Class','SMS'])
docs

     Class                                                SMS
0      ham                      Ok lar... Joking wif u oni...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  U dun say so early hor... U c already then say...
3      ham  Nah I don't think he goes to usf, he lives aro...
4     spam  FreeMsg Hey there darling it's been 3 week's n...
...    ...                                                ...
5566  spam  This is the 2nd time we have tried 2 contact u...
5567   ham              Will Ã¼ b going to esplanade fr home?
5568   ham  Pity, * was in mood for that. So...any other s...
5569   ham  The guy did some bitching but I acted like i'd...
5570   ham                         Rofl. Its true to its name

[5571 rows x 2 columns]

In [23]:
docs.head()

  Class                                                SMS
0   ham                      Ok lar... Joking wif u oni...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  U dun say so early hor... U c already then say...
3   ham  Nah I don't think he goes to usf, he lives aro...
4  spam  FreeMsg Hey there darling it's been 3 week's n...

In [25]:
docs.SMS.head()

0                        Ok lar... Joking wif u oni...
1    Free entry in 2 a wkly comp to win FA Cup fina...
2    U dun say so early hor... U c already then say...
3    Nah I don't think he goes to usf, he lives aro...
4    FreeMsg Hey there darling it's been 3 week's n...
Name: SMS, dtype: object

In [21]:
docs.shape

(5571, 2)

In [22]:
docs.describe()

       Class                     SMS
count   5571                    5571
unique     2                    5168
top      ham  Sorry, I'll call later
freq    4824                      30

In [17]:
docs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Class   5571 non-null   object
 1   SMS     5571 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [26]:
docs.isna().sum()

Class    0
SMS      0
dtype: int64

### Mapping the label as spam and ham

In [29]:
docs['Label']=docs.Class.map({'ham':0,'spam':1})
docs.head()

  Class                                                SMS  Label
0   ham                      Ok lar... Joking wif u oni...      0
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
2   ham  U dun say so early hor... U c already then say...      0
3   ham  Nah I don't think he goes to usf, he lives aro...      0
4  spam  FreeMsg Hey there darling it's been 3 week's n...      1

In [30]:
x=docs.SMS
y=docs.Label

In [31]:
x.shape

(5571,)

In [32]:
y.shape

(5571,)

In [33]:
from sklearn.model_selection import train_test_split as  tts

In [34]:
X_train,x_test,Y_train,y_test=tts(x,y,test_size=0.30)

In [35]:
X_train.shape

(3899,)

In [37]:
x_test.shape

(1672,)

In [38]:
Y_train.shape

(3899,)

In [39]:
y_test.shape

(1672,)

In [41]:
X_train.head()

3756     Yes:)here tv is always available in work place..
955     Sorry i now then c ur msg... Yar lor so poor t...
1862    The last thing i ever wanted to do was hurt yo...
5111    December only! Had your mobile 11mths+? You ar...
1579    Why is that, princess? I bet the brothas are a...
Name: SMS, dtype: object

In [42]:
Y_train.head()

3756    0
955     0
1862    0
5111    1
1579    0
Name: Label, dtype: int64